<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{Jogos Atari}</title>
    <style>
      html,
      body {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: Honeydew 
      }
      h1 {
        height: 100%;
        display: flex;
        justify-content: center;
        font-family: 'OCR A Std', monospace;
      }
    </style>
  </head>
  <body>
    <main>
      <h1>Página não encontrada!</h1>
      <img
        src="https://s.aolcdn.com/hss/storage/midas/984b423f05549fe123d97bcd4a463b3/200084030/et-atari-warshaw-fullbleed.jpg"
        alt="Braço de uma pessoa que segura com apenas uma mão o boneco ET e o jogo Atari do filme ET. O braço está sendo filmado por um câmera à direita"
        height="336"
        width="500"
        style="vertical-align: center"
      />
    </main>
  </body>
</html>
